---
---

@charset "utf-8";

// Font
$base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;

// Color
html { 
  --background-color: #edebeb;
  --secondary-background-color: #8e8e8e;
  --text-color: #000000;
  --secondary-text-color: #3d3d3d99;
  --link-background-color: #e85757;
  --syntax-background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #1c1c1c;
    --secondary-background-color: #4e4e4e;
    --text-color: #ffffff;
    --secondary-text-color: #e2e2e299;
    --link-background-color: #bb2e2e;
    --syntax-background-color: #2c2c2eff;
  }
}

$primary-content-color: #ff0000;
$code-color: #0088ff;
$border-color: #54545899;

// Others
$base-line-height: 1.5;
$spacing-unit: 32px;
$content-width: 860px;
$on-palm: 600px;
$on-laptop: 860px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";
